<img class="d-block w-100" src="../../../assets/900x250.jpg" alt="First slide">

<h2>Männer 1</h2>

<h2>Aktuelle Tabelle</h2>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Rang</th>
        <th scope="col">Mannschaft</th>
        <th scope="col">Begegnung</th>
        <th scope="col">S</th>
        <th scope="col">U</th>
        <th scope="col">N</th>
        <th scope="col">Tore</th>
        <th scope="col">+/-</th>
        <th scope="col">Punkte</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
    </tbody>
  </table>

<h2>Alle Spiele</h2>
<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Tag</th>
        <th scope="col">Datum</th>
        <th scope="col">Zeit</th>
        <th scope="col">Halle</th>
        <th scope="col">Nr.</th>
        <th scope="col">Heimmanschaft</th>
        <th scope="col">Gastmanschaft</th>
        <th scope="col">Ergebnis</th>
        <th scope="col">Link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Sa.</th>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
      <tr>
        <th scope="row">So.</th>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
      <tr>
        <th scope="row">So.</th>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
      </tr>
    </tbody>
  </table>