<app-navbar></app-navbar>
<router-outlet></router-outlet>

<!-- Footer-Componente noch bauen-->
<footer class="footer bg-dark">
    <div class="container">
        <div class="content has-text-centered">
            <div class="row">
                <h3>©Post SV Nürnberg 2018</h3>
                <h3>ddwedwed</h3>
                <button type="button" class="btn btn-link">Link1</button>
                <button type="button" class="btn btn-link">Link2</button>
                <button type="button" class="btn btn-link">Link3</button>
            </div>
        </div>
    </div>
</footer>
