<img class="d-block w-100" src="../../../assets/900x250.jpg" alt="First slide">

<h2>Männer 2</h2>

<h2>Aktuelle Tabelle</h2>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Rang</th>
      <th scope="col">Mannschaft</th>
      <th scope="col">Begegnung</th>
      <th scope="col">S</th>
      <th scope="col">U</th>
      <th scope="col">N</th>
      <th scope="col">Tore</th>
      <th scope="col">+/-</th>
      <th scope="col">Punkte</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of tableData">
      <th scope="row">{{item.rang}}</th>
      <td>{{item.mannschaft}}</td>
      <td>{{item.begegnungen}}</td>
      <td>{{item.s}}</td>
      <td>{{item.u}}</td>
      <td>{{item.n}}</td>
      <td>{{item.tore}}</td>
      <td>{{item.plus_minus}}</td>
      <td>{{item.punkte}}</td>
    </tr>
  </tbody>
</table>

<h2>Alle Spiele</h2>

